---
import Cartas from "../components/Cartas.astro";
import Efotos from "../components/Efotos.astro";
import Sheader from "../components/Sheader.astro";
import Layout from "../layouts/Layout.astro";
import Dfooter from "../components/Dfooter.astro";
import Contacto from "../components/Contacto.astro";
---

<Layout>
  <div class="h-1/3">
    <Sheader />
  </div>

  <section>
    <article class="flex flex-col lg:flex-row min-h-screen">
      <!-- Lado izquierdo -->
      <div class="w-full lg:w-2/3 relative z-10 px-4 lg:px-20 pt-2">
        <section class="py-6 lg:py-12 max-w-6xl mx-auto text-gray-800">
          <!-- T铆tulo -->


          <h2 class="text-3xl lg:text-4xl font-bold text-center mb-6">
            Sobre Nosotros
          </h2>
           <article class="">
            <img src="/fotos1/liders.jpeg" class="w-3/4 mx-auto" />
          </article>
          <!-- Descripci贸n -->
          <div class="text-base lg:text-lg leading-relaxed space-y-4 mb-12">
            <div>
              <!--  <h3 class="text-xl font-semibold text-gray-800">Misi贸n</h3> -->
               <h4 class="text-2xl font-semibold mt-4 pb-4">HISTORIA</h4>
              <p>
             Nuestra ONG tiene sus or铆genes all谩 por el a帽o 2014, cuando a帽o a a帽o llevamos alegr铆a a ni帽os de zonas inh贸spitas y extrema pobreza de Andahuaylas. Juguetes, shows infantiles, 煤tiles escolares y ropa. Llegado la pandemia, nuestra labor consisti贸 en llevar alimentos no perecibles a decenas de familias vulnerables. Luego quisimos dar el siguiente paso con la formalizaci贸n de la caridad y constituir una ONG con el apoyo de Mrs. Sherlie Ann Scribner, fundadora y CEO de Childrens Fund, adem谩s Lara Costello. De esta forma, hace 3 a帽os constituimos notarialmente nuestra ONG la misma que fue inscrita en registros p煤blicos. Francis Tran , Yeny Salazar Menacho, Abraham Naveros C贸rdova, Rvdo Padre Vidal p谩rroco de Pampachiri, la Priora Madre ngeles de la congregaci贸n Coraz贸n de Mar铆a, y algunos laicos cat贸licos; consolidamos las normas y cultura organizacional de nuestra ONG, teniendo como prioridad los ni帽os, su educaci贸n, salud y nutrici贸n como punto de partida. En Marzo del 2025 la ONG se estableci贸 en los Estados Unidos con el apoyo del Diacono Francis Tran. Desde entonces seguimos trabajando de a poco y gracias a la donaci贸n de personas solidarias que apadrinan a m谩s de 40 ni帽os y ni帽as a quienes ayudamos mes a mes religiosamente. Agradecemos a la Hna N茅lida por su colaboraci贸n con nuestra ONG.

              </p>
            </div>

           <!--  <div>
              <p>
                Llegado la pandemia, nuestra labor consisti贸 en llevar alimentos
                no perecibles a decenas de familias vulnerables. Luego quisimos
                dar el siguiente paso con la formalizaci贸n, de esta forma y hace
                3 a帽os constituimos notarialmente nuestra ONG la misma que fue
                inscrita en registros p煤blicos. Con el liderazgo de la Phd Hna
                Nelida Naveros, CPC Yeny Salazar, Ing. Abraham Naveros, p谩rroco
                de San jer贸nimo, la Priora Madre de la congregaci贸n Coraz贸n de
                Mar铆a, y algunos laicos cat贸licos; consolidamos las normas y
                cultura organizacional de nuestra ONG, teniendo como prioridad
                los ni帽os su educaci贸n, salud y nutrici贸n como punto de partida.
                Desde aquel entonces y hasta hoy seguimos trabajando de a poco y
                gracias a la donaci贸n de personas solidarias que apadrinan a mas
                de 40 ni帽os a quienes ayudamos mes a mes religiosamente.
              </p>
            </div> -->
           
            <h4 class="text-2xl font-semibold mt-4">Objetivos</h4>
            <div>
              <p>
                Forjar mejores oportunidades de crecimiento acad茅mico y proyecciones de vida; proveyendo a los ni帽os y ni帽as herramientas b谩sicas para una educaci贸n adecuada para el 茅xito, fortaleciendo la parte psicol贸gica, valores y sostenibilidad econ贸mica de las familias beneficiadas. 
              </p>
            </div>
          </div>

        </section>
          <div>
            <h3 class="text-2xl font-semibold text-gray-800">
              Informaci贸n Financiera
            </h3>
            <a
              href="https://childrensfund.net/wp-content/uploads/2024/12/CF990_2023signedNoSchedB.pdf"
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex items-center text-blue-600 hover:text-blue-800 hover:underline font-medium transition duration-200"
            >
               Click aqu铆 para ver el reporte IRS m谩s reciente
            </a>
          </div>
      </div>

      <!-- Lado derecho -->
      <div
        class="w-full lg:w-1/3 relative z-10 flex items-center justify-center"
      >
        <section class="w-full max-w-md px-4 py-8 text-gray-800 space-y-10">
          <Contacto />
        </section>
      </div>
    </article>
  </section>

  <Dfooter />
</Layout>
