<div 
  class="fixed bottom-6 right-6 z-[99999] bg-red-600 hover:bg-pink-600 text-white w-18 h-18 rounded-full shadow-xl flex items-center justify-center cursor-pointer transition-all"
  onclick="window.location.href='/galeria'"
>
  <div class="grid">
      <img
      src="/fotos/logo.jpg"
      alt="Galería"
      class="w-8 h-8 rounded-sm ml-1"
    />
    <span class="text-white text-sm font-semibold">
        Galería
      </span>
  </div>
  
</div>
