---
interface Props {
  nombre: string;
  imagen: string;
}

const { nombre, imagen } = Astro.props;
---

<div class="flex flex-col items-center text-center">
  <img
    src={imagen}
    alt={nombre}
    class="rounded-lg shadow-lg w-full max-w-[300px] object-cover"
  />
  <p class="mt-4 text-3xl font-semibold">{nombre}</p>
</div>

